@import './color.scss';

* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 1.5rem;
  touch-action: none;
  font-family: 'Open Sans', 'sans-serif', Helvetica, 'Helvetica Neue', Verdana;
  // font-family: 'Helvetica', 'Helvetica Neue', 'Verdana', 'sans-serif', 'Arial', 'PingFang SC', 'Microsoft YaHei';
  color: $c000;
  background-color: $fff;
}

::selection {
  background-color: $c333;
  color: $fff;
}
